.u-text-center{
    text-align: center !important;
}

.u-margin-bottom-small{
    margin-bottom: 2rem !important;
}
.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
}
.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}

.u-margin-top-big{
    margin-top: 8rem !important;
}


// Composition code here
.composition  {

    &__photo {
        width : 55%;
    }
}


// .story {
//     width: 75%;
//     margin: 0 auto;
//     box-shadow: 0 3rem 6rem rgba($color-black, .1);
//     background-color: $color-white;
//     padding: 6rem;
//     border-radius: 3px;
//     color: brown;
// }